version: '3.7'
services:
  chrome:
    image: selenium/standalone-chrome
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - hub
    environment:
      - HUB_HOST=selenium-hub
      - START_XVFB=true

  hub:
    image: selenium/hub:4.0.0-alpha-6-20200721
    ports:
      - "4444:4444"
  server:
    build: ./server
    volumes:
      - ./server/src:/app
    ports:
      - 8080:8080
      - 8000:8000

  interface:
    build: ./interface
    volumes:
      - ./interface/src:/app
    ports:
      - 80:80
    depends_on:
      - chrome
      - server