version: '3.7'
services:
  chrome:
    image: selenium/standalone-chrome-debug
    volumes:
      - /dev/shm:/dev/shm
    environment:
      - START_XVFB=true
    ports:
      - 4444:4444

  server:
    build: ./server
    volumes:
      - ./server/src:/app
    ports:
      - 8080:8080
      - 8000:8000

  interface:
    build: ./interface
    volumes:
      - ./interface/src:/app
    ports:
      - 5050:5050
      - 5000:5000
    depends_on:
      - chrome
      - server